* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;

    
}


.container {
    margin: 0px auto;
    margin-top: 50px;
    max-width: 300px;
    text-align: center;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 15px;
    width: 100%;
}

h1{
    color: blue;
    margin-bottom: 15px;
}

input,button{
    margin-left: 40px;
    padding: 6px;
    display: block;
    width: 76%;
    margin-bottom: 8px;
}
button {
    background-color:  rgb(11, 11, 219);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

.msg-sucesso{
    
    color: green;
    display: block;
    text-align: center;
    font-size: 20px;
}


.msg-erro{
    
    color: red;
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 8px;
}

img {
    display: none;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin: 20px auto;

}


