body {
    background-color: rgb(46, 42, 42);
    color: antiquewhite;
}

.container{
    max-width: 50%;
    margin-left: 20.5%;
    margin-top: 10%;
}

h2 {
    color: rgb(126, 194, 25);
}

.form-check{
    margin-top: 20px;
}

button {
    margin-top: 20px;
}


